*, *:before, *:after {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: "Poppins";
  
  }
  /*"background" is the transparency*/
  .left-col {
    background: black;
    color: white;
    text-align: left;
    position: relative;
    height: 110vh;
    
  }

  /*Includes, Image with trans, h1, p, and form-container*/
  /* position relative on parent^, position absolute on child*/
  .left-col:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/Cover.png");
    background-size: cover;
    background-position: 100%;
    opacity: .55;
  }
  
  .left-col .content-container {
    position: absolute;
    top: 20%;
    transform: translateY(-40%);
    transform: translateX(1%);
    padding: 0 5%;
    width: 100%;
  }

  /* h1-"301_Catching", p-"Master your craft..."  */
  /*stop image from bleeding throught text*/
  .content-container {
    position: relative; 

  }

  .content h2 {
    font-family: "Poppins";
    font-weight: bold;
    font-size: 4rem;
    line-height: 1em;
  }


 .content h1 {
   margin: 0;
   font-family: "bebas neue";
   font-weight: bold;
   font-size: 10rem;
   line-height: 1em;
    }
  
  .content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
  }

  
  button {
    width: 100%;
    background: red;
    padding: 1em;
    color: white;
    font-weight: bold;
    border:none;
    font-size: 1.25rem;
    cursor: pointer;
  }

.register-form {
  background-color: rgb(210, 214, 217) !important;
  color: red !important;
  margin-left: 20px !important;
  margin-right: 50px !important;
  margin-top: 20px !important;  
  margin-bottom: 20px !important;
}


    .form {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 2em;
    }
        button {
            width: auto;
            padding: 1em 2.5em;
        }  
  

       
