/* navStyling.css */
.dropdown {
  margin-left: 57em !important;
}

/* Styling for hover */
.nav-link:hover {
    font-weight: bold!important;
    color: red!important;
  }
  
  /* Styling for active */
  .nav-link.active {
    color: red!important;
    font-weight: bold!important;
  }

  .nav-tabs .nav-link {
    color: #333; /* Change the color to the desired shade */
    background-color: #ffffff !important; /* Change the background color to the desired shade */
    box-shadow: 0 2px 4px rgba(31, 30, 30, 1) !important; /* Add the shadow style */
  }
  /* navStyling.css */

/* Styling for the nav tabs with shadow */
.nav-tabs {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; /* Add the shadow style */
  }
  
  
  /* Styling for selected (active) tab */
  .nav-tabs .nav-link.active {
    color: red; /* Change the color to the desired shade */
    background-color: #d2cfcf; /* Change the background color to the desired shade */
  }

  
  